body {
	font-family: Palatino, Georgia, serif;
	line-height: 22px;
}

body h1 {
	line-height: 36px;
}

.site {
	width: 666px;
	margin: auto;
}

.site > ol {
	list-style-type: none;
	padding-left: 0px;
}

.site .main_content {
	margin-bottom: 60px;
}

body .site em.date {
	color: gray;
	font-family: monospace;
}

.site .comments {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.site .watchout {
	margin-top: 40px;
	color: gray;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

a {
	color: #08c;
	text-decoration: none;
}

